body {
    background-color: #222;
}

.formulario {
    font-family: Georgia;
    color: white;
    margin: auto;
    width: 50%;
}

.campo {
    background-color: #333;
    margin-bottom: 15px;
}

input[type="text"], select {
    font-family: Georgia;
    background-color: #444;
    border: 0;
    color: white;
    width: 100%;
}

.botaoPrincipal{
    background-color:blueviolet;
    font-size: 16px;
    color:white;
    border: 0;
    font-weight: bold;
    width: 100%;
    height: 50px;
}